    <!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/webroot/css/admin_defaults.css">
</head>

<body>




<div class="container-fluid">
    <!-- first section - Home -->
    <div id="home" class="home">
        <div class="text-vcenter">
            <h1>Hello World</h1>
            <h3>This is bootstrap-based layout</h3>

        </div>
    </div>
    <!-- /first section -->
    <!-- second section - About -->
    <div id="about" class="pad-section">
        <div class="container">
            <div class="row">

                <div class="col-sm-6 text-center">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet.</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum metus et ligula venenatis, at rhoncus nisi molestie. Pellentesque porttitor elit suscipit massa laoreet metus.</p>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>
<br>
<br>
<br>
</body>

</html>