<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <script src="/webroot/bootstrap/js/jquery.min.js"></script>
    <script src="/webroot/js/defaults/circle-progress.js"></script>
    <script src="/webroot/js/defaults/defaults.js"></script>
    <link rel="stylesheet" href="/webroot/css/defaults/index.css">
</head>

<body>
<div class="page">
    <header>
<div class="container-fluid">
    <!-- first section - Home -->
    <div id="home" class="home">
        <div class="text-vcenter morph">
            <a href="#about" style="color: black">

            </a>
        </div>
    </div>
    <!-- /first section -->
    <!-- second section - About -->
    <div id="about" class="pad-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img2" src="/webroot/img/defaults/2.jpg" alt="" />
                </div>
                <div class="col-sm-6 text-center">
                    <h2><b>Hi everyone! </b></h2>
                    <br>
                    <p class="lead">Lorem ipsum dolor sit ame... </p>
                </div>
            </div>
        </div>
    </div>

</div>
    </header>
</div>

<br>
<br>
<br>

</body>

</html>